/*
 * Dark theme for Perl Executing Browser
 * By Valcho Nedelchev
 */
*{
	font-family: sans-serif;
	color: LightGrey;
}
body {
	background-color: #333;
	color: #eee;
}
input[type=submit],
input[type=reset],
button
{
	color: #333;
	background-color: #ccc;
	font-size:0.875em;
}
a{
	color: LightBlue;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.center { 
	text-align: center; 
}

footer {
	padding: 1em;
	font-size:0.875em;
	text-align: center;
}