language: cpp

os:
  - linux

compiler:
  - gcc

sudo: required
dist: trusty

before_install:
  - sudo add-apt-repository --yes ppa:beineri/opt-qt551-trusty
  - sudo apt-get update -qq

install:
  - sudo apt-get -y install qt55[QTPACKAGE]
  - sudo apt-get -y install qt55webkit-examples 

script:
  - source /opt/qt55/bin/qt55-env.sh
  - /opt/qt55/bin/qmake $TRAVIS_BUILD_DIR/src/peb.pro
  - make

notifications:
  email: true
