
pre {
  margin: 4px;
  text-align: left;
  font-size: 14px;
  font-family: sans-serif;
}

.btn {
  margin-top: 20px;
}

.tests {
  margin-top: 20px;
}

.introduction {
  font-size: 20px;
}

.interactive-output {
  font-size: 20px;
  margin-bottom: 20px;
}
