[Desktop Entry]
Version=1.0
Type=Application
Name=peb
Comment=HTML interface for Perl 5 desktop applications
Exec=peb
Icon=peb
Categories=Development;
